<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcD229m4kI9I6IxoCACAuS6H5u4rLOGng</string>
	<key>GCM_SENDER_ID</key>
	<string>466725686767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uts</string>
	<key>PROJECT_ID</key>
	<string>siak-mhs-azzam</string>
	<key>STORAGE_BUCKET</key>
	<string>siak-mhs-azzam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466725686767:ios:9e98858969b333255ffa1a</string>
</dict>
</plist>